.sobre-video {
  max-width: 800px;      /* controla o tamanho máximo */
  width: 90%;            /* responsivo */
  margin: 90px auto 0;   /* centraliza horizontalmente */
}

/* iframe ou video */
.video-sobre {
  width: 100%;
  aspect-ratio: 16 / 9;  /* mantém proporção */
  height: auto;
  display: block;
  border-radius: 12px;   /* opcional, fica mais bonito */
}
/* =================== EQUIPE =================== */

.equipe-section {
  padding: 10px 10px;
  text-align: center;
  max-width: 1300px;
  margin: 0 auto;
}

.equipe-section h1 {
  font-size: 2.6rem;
  margin-bottom: 10px;
  font-weight: 700;
}

.equipe-intro {
  font-size: 1.15rem;
  margin-bottom: 50px;
  opacity: 0.85;
}


/* ===== GRID ===== */

.equipe-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 40px;
  padding: 0 20px;
}


/* ===== CARD ===== */

.equipe-card {
  background: #fff;
  border-radius: 50px;
  padding: 5px 10px;
 box-shadow: 0 0 15px rgba(255, 255, 255, 0.37);
  text-align: center;
  transition: .3s ease;
  color: black;
}

.equipe-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 35px rgb(58, 166, 255);
}


/* ===== FOTO ===== */

.equipe-card img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 0%;
  margin-bottom: 20px;

  
  /*box-shadow: 0 0 15px rgba(0,102,255,0.35);*/
}


/* ===== TEXTO ===== */

.equipe-card h2 {
  font-size: 1.35rem;
  font-weight: 700;
  margin-bottom: 6px;
}

.cargo {
  font-size: 1rem;
  font-weight: 600;
  color: #215199;
  margin-bottom: 12px;
}

.desc {
  font-size: 0.95rem;
  line-height: 1.45;
  opacity: 0.85;
}


/* ===== DESTAQUE DO DIRETOR ===== */

.equipe-card.destaque {
  box-shadow: 0 0 18px rgba(255,200,0,0.6);
   background: #f3f8ff;
  transform: scale(1.03);
}

.equipe-card.destaque img {
  
  
}

.equipe-card.destaque:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 35px rgb(255, 225, 58);
}

a {
  text-decoration: none;
}
@media (max-width: 768px) {

  .equipe-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 por linha */
    gap: 20px; /* diminui o espaço */
  }

  .equipe-card {
    border-radius: 30px;
    padding: 5px;
  }

  .equipe-card img {
    width: 120px;
    height: 120px;
    margin-bottom: 2px;
  }

  .equipe-card h2 {
    font-size: 1.1rem;
  }

  .cargo {
    font-size: 0.9rem;
  }

  .desc {
    font-size: 0.85rem;
  }
}